<main>
 <p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
     <h1>Welcome to <i class="fas fa-book"></i></br>
     <strong>Bookers</strong>!!</h1></br>
     <p>In  <i class="fas fa-book"></i><strong>Bookers</strong>, </p>
     <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
    <p><%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn-block" %></p>
    <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %></p>
  </div>
 </div>
</main>